<div class="mydialog">

  
        <!-- <mat-form-field>
       <input matInput #eid placeholder="Enter news id" [(ngModel)]="news.id">
      </mat-form-field> -->
      <mat-form-field>
      <input matInput #name placeholder="Enter title" [(ngModel)]="localobj.title"> 
        </mat-form-field>
         <mat-form-field>
          <input matInput #name placeholder="Enter Description" [(ngModel)]="localobj.descri"> 
            </mat-form-field>
       <button (click)="updateRecord()">Update Record</button> 
     <span id="errinfo"></span>

     <!-- <button (click)="closeThis()">Close </button> -->
    

</div>
