
 <app-header></app-header> 
 <router-outlet></router-outlet> 







<!-- <mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Registration
    </mat-panel-title>
    <mat-panel-description>
      This is to Register Employee
    </mat-panel-description>
 </mat-expansion-panel-header>
  <div class="clsdisp">
    <mat-form-field>
   <input matInput #eid placeholder="Enter employee id" [(ngModel)]="employee.id">
  </mat-form-field>
  <mat-form-field>
  <input matInput #name placeholder="Enter Employee name" [(ngModel)]="employee.name"> 
</mat-form-field>
  <button (click)="addRecord()">Register</button>
 
</div>

</mat-expansion-panel>
<div class="dispcard">
<mat-card *ngFor="let e of employees">
<mat-card-title>{{e.id}}</mat-card-title>
<mat-card-content>
 {{e.name}}
</mat-card-content>
</mat-card>

</div>
  -->






