<div class="clsnews">
    <mat-expansion-panel class="clsnews" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Registration
          </mat-panel-title>
          <mat-panel-description>
            News
          </mat-panel-description>
       </mat-expansion-panel-header>
        <div class="clsdisp">
          <mat-form-field>
         <input matInput #eid placeholder="Enter news id" [(ngModel)]="news.id">
        </mat-form-field>
        <mat-form-field>
        <input matInput #name placeholder="Enter title" [(ngModel)]="news.title"> 
          </mat-form-field>
           <mat-form-field>
            <input matInput #name placeholder="Enter Description" [(ngModel)]="news.descri"> 
              </mat-form-field>
         <button (click)="addRecord()">Register</button> 
       <span id="errinfo"></span>
      </div>
      
      </mat-expansion-panel>
